html , body {
    margin: 0 ;
    height: 100vh;
    width: 100vw;
}
#panel{
    width: 23.5% ;
    height: 100%;
    /* background-color: gold; */
    position: fixed;
}
#container{
    width: 80% ;
    height: 100%;
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    margin-left: 16%;
}
.icon{
    /* background-color: greenyellow; */
    height: 15%;
}
.icon> img{
    height: 54px;
    position: relative;
    top: 30px;
}

.buttons{
    /* background-color: green; */
    height: 70%;
    /* background-color:  goldenrod; */

    display: flex;
    flex-direction: column ;
    justify-content: space-around;
}
.button{
    /* background-color: pink; */
    height: 10%;
}
.button img {
    height: 30px;
    width: 30px;
    margin-top:10px;    
}
.button> a{
    text-decoration: none;
    
}
.button {
    font-size: x-large;
    letter-spacing: 2px;
    
}

/* .button:nth-of-type(2n){
    background-color: rgb(182, 155, 155);
} */
.tweetbutt{
    /* background-color: grey; */
    height: 15%;
}
.tweetbutt > button {
    height: 60%;
    width: 90%;
    background-color: #1D9BF0;
    border: none;
    border-radius: 60px;
    color: white;
    margin-top: 10px;

}
.account{
    /* background-color: brown; */
    height: 15%;
    letter-spacing: 1px;
}
.account>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    top:24px ;
}

#main{
    width: 45%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    left:24%;
    border-left: 1px solid #EFF3F4;
    border-right: 1px solid #EFF3F4 ;
}
#main>div{
    border: 1px solid #EFF3F4;
}
.bar{
    /* background-color: mediumseagreen; */
    height: 30%;
}   
/* .bar:nth-of-type(2n){
    background-color: antiquewhite;
} */
.background{
    background-image: url(./images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 100%;
}
#main>.bar>.image{
    width: 130px;
    height: 130px;
    position: relative;
    top:70%;
    left:4%;
    border: 5px solid white;
    border-radius: 50%;
    background-image: url(./images/profilepik.jpg);
    background-size: contain;
    
}
#main>.mainnav{
    height:8%;
    font-size: large;
    padding-bottom: 7px;
}
#main>.mainnav>img{
    height: 30px ;
    width: 30px;
    position: relative;
    top:30%;
    left: 15px;
}
#main>.userinfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    /* position: relative; */
    /* left: 10%; */
}
.userinfo > .info {
    position: relative;
    left: 5%;
    padding: 2px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 1px;
   
}
.navpanel{
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-around;
}
.navbutton{
    padding-top: 30px;
    border-bottom: 5px solid#1D9BF0;
    /* position: relative; */
    /* top:50%; */
    

}

#asides{
    width: 28%;
    /* background-color: rgb(0, 255, 221); */
    height: 100%;
    position: absolute;
    left:70%;
}
.aside{
    width: 90%;
    /* background-color: beige; */
    height: 30%;
    margin-left: 5%;
    border: 2px solid #EFF3F4 ;
}
#asides>.search{
    height: 50px;
}
#asides>.search>input{
    width: 90%;
    height: 70%;
    position: relative;
    top: 10%;
    left: 5%;
    color: #EFF3F4;
    border: none;
}
#asides>.images{
   display: grid;
   grid-template-columns: repeat(3 , 1fr);
   grid-template-rows: repeat(2, 1fr);
   border-radius: 30px;
}
#asides>.aside>.img{
    border: 1px solid #ffffff;

}
.img1{
    background-image: url(./images/git.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 20px;
}
.img2{
    background-image: url(./images/calc.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img3{
    background-image: url(./images/lassi.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 20px;
}
.img4{
    background-image: url(./images/creditCard.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20px;    
}.img5{
    background-image: url(./images/signUP.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img6{
    background-image: url(./images/cloth.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-right-radius: 20px;
}

/* .aside:nth-of-type(2n){
    background-color: maroon;
} */

#asides>.mightlike{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #EFF3F4;
}

#asides>.mightlike>.like{
    /* border:2px solid red; */
    padding-left: 5%;
}